*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(red, white);
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 100px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    position: relative;
    width: 200px;
}
.header ul{
    position: relative;
    display: flex;
}
.header ul li{
    list-style: none;
}
.header ul li a{
    display: inline-block;
    color: white;
    font-weight: 900;
    margin-left: 40px;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}
.header ul li a:hover{
    color: red;
    background: #333;
}
.contente{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}
.contente .titre{
    position: relative;
    max-width: 600px;
    transform: translateY(-100px);
}
.contente .titre h2{
    color: #333;
    font-size: 4em;
    line-height: 1em;
    font-weight: 800;

}
.contente .titre h2 span{
    color: white; 
    font-size: 1.2em;
    font-weight: 1000px;
    font-family: cursive;
    font-style: italic;
}
.contente .titre p{
    color: #333;
    padding-top: 20px;
}
.contente .titre a{
display: inline-block;
margin-top: 30px;
padding: 8px 20px;
background: #333;
color: white;
border-radius: 40px;
font-weight: 500;
letter-spacing: 1px;
text-decoration: none;
}
.cap{
    display: flex;
    justify-content: flex-end;
    padding-top: 0px;
    padding-right: 50px;
    transform: translateY(-100px) rotate(-20deg);
}
.cap img{
    filter: drop-shadow(5px 5px 30px white);
}
.cercle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    clip-path: circle(600px at right 800px);
}